*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.brack{
    background-color: black !important;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: .3s;
}
.interface{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 50px;
}


.menu span{
    color: red;
}

.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.menu a{
    color: #fff;
    text-decoration: none;
}

.btn-top{
    display: flex;
    background-color: red;
    color: #fff;
    padding: 4px;
    max-width: 250px;
    gap: 8px;
    align-items: center;
    border-radius: 5px;
}

.bi-car-front{
    font-size: 25px;
    color: red;
}

.menu.rolando{
    background: #fff;
    border-bottom: 5px solid #f503032f;
    color: black;
}

.menu.rolando a{
    color: black;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.txt-top{
    padding-top: 00px;
    color: #fff;
}

.txt-top span{
    color: red;
    width:45%;
}


.btn-ag{
    display: flex;
    background-color: red;
    color: #fff;
    padding: 20px;
    max-width: 250px;
    gap: 8px;
    align-items: center;
    border-radius: 5px;
}

.btn-ns{
    display: flex;
    background-color: transparent;
    border: 2px solid #fff;
    min-width: 200px;
    color: #fff;
    padding: 20px;
    max-width: 250px;
    gap: 8px;
    align-items: center;
    border-radius: 5px;
    text-align: center;
}

.btns-top{
    display: flex;
    gap: 10px;
}

.img1{
    display:inline-block;
    width: 600px;
    height: 300px;
}

.img-div{
    width:50%;
    padding-top: 200px;
}

.txt-btop h6{
    margin-top: 30px;
    color:red;
}

.txt-btop h4{
    color: #fff;
}

.txt-btop p{
    color: #fff;
    font-weight: 10;
}

.txt-btop{
    width:50%
}

.img-btop{
    width: 50%
}

.img2{
    width: 600px;
    height: 300px;
}

.sec-ser{
    background-color: rgb(197, 189, 189);
    min-height: 500px;
}


.sec-ser{
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.geral{
    border: 2px solid black;
    min-width: 400px;
    height: 400px;
    background: white;
}